/* body *{
    border: red 1px solid;
} */
html * {
    font-family: sans-serif;
    font-weight: 200;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}

.header-icon-size {
    font-size: 50px;
}

header>div>input {
    width: 200px;
    height: 30px;
}

header>div>i {
    color: #90a4ae;
}

#ipt_delete:hover {
    color: #e64a19;
}

main {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto 0;
    width: 400px;
    min-width: 280px;
    max-width: 400px;
    box-shadow: 0 0 10px 5px #bdbdbd;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
}

.main-container>div {
    display: flex;
}

.main-top, .main-bottom {
    display: flex;
}

.main-left, .main-right {
    width: 50%;
}

.main-right {
    text-align: right;
}

.main-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-main>span:first-child {
    font-size: 80px;
}

.main-main>span:nth-child(3) {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    padding: 0 10px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line {
    display: flex;
}

.square {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
    border-radius: 25px;
    margin: 20px;
    border: 1px solid #e0e0e0;
    /* box-shadow: 0 0 10px 5px #bdbdbd; */
}

.square:hover {
    box-shadow: 0 0 10px 5px #bdbdbd !important;
}

.square>div:last-child {
    padding-bottom: 10px;
}

.cityLight {
    box-shadow: 0 0 10px 5px #bdbdbd !important;
}

.square>i {
    color: #3f51b5;
}

#wea_chart {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 200px;
}

footer>div>i {
    font-size: 60px;
    margin: 20px 20px 10px;
}

.level_1 {
    background-color: #9ccc65;
}

.level_2 {
    background-color: #ffd600;
}

.level_3 {
    background-color: ORANGE;
}

.level_4 {
    background-color: RED;
}

.level_5 {
    background-color: PURPLE;
}

.level_6 {
    background-color: BROWN;
}
