/* body * {
    border: red 1px solid;
} */
html * {
    font-family: PingFangSC-Thin, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*IE6不识别min-height*/
    position: relative;
}

.page{
    padding-bottom: 100px;
}

header {
    display: flex;
    flex-direction: column;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    height: 50px;
}

.header-icon-size {
    font-size: 50px;
}

header>div>input {
    margin: 0 10px;
    padding: 0 10px;
}

input{
    width: 230px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    font-size: 15px;
}

#city_list {
    position: absolute;
    top: 41px;
    left: calc(50% - 125px);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}

#city_list>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
    font-size: 15px;
    padding-left: 10px;
}

#city_list>li:hover {
    background-color: #eeeeee;
}

input::-ms-input-placeholder {
    text-align: center;
}

input::-webkit-input-placeholder {
    text-align: center;
}

header>div>i {
    color: #bdbdbd;
}

header>div>i:first-child {
    text-align: right;
}

.fa-times-circle:hover {
    color: #e64a19;
}

main {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto 0;
    width: 400px;
    min-width: 280px;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
}

.main-container>div {
    display: flex;
}

.main-top, .main-bottom {
    display: flex;
}

.main-left, .main-right {
    width: 50%;
}

.main-right {
    text-align: right;
}

.main-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-main>span:first-child {
    font-size: 80px;
}

.main-main>span:nth-child(3) {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    padding: 0 10px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5px 10px;
}

.line {
    display: flex;
}

.square {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
    border-radius: 25px;
    margin: 20px;
    border: 1px solid #bdbdbd;
    /* box-shadow: 0 0 10px 5px #bdbdbd; */
}

.square:hover {
    box-shadow: 0 0 10px 5px #bdbdbd !important;
}

.square>div:last-child {
    padding-bottom: 10px;
}

.cityLight {
    box-shadow: 0 0 10px 5px #bdbdbd !important;
}

.square>i {
    color: #3f51b5;
}

#wea_chart {
    margin: 10px 0;
    display: flex;
    width: 100%;
    min-height: 200px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0;
}

footer>div>i {
    font-size: 60px;
    margin: 20px 20px 10px;
}

.level_1 {
    background-color: #9ccc65;
}

.level_2 {
    background-color: #fdd835;
}

.level_3 {
    background-color: ORANGE;
}

.level_4 {
    background-color: RED;
}

.level_5 {
    background-color: PURPLE;
}

.level_6 {
    background-color: BROWN;
}

#about_site{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*脚部的高度*/
    background-color: #bdbdbd;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_site>span:first-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

#about_site>a:hover {
    color: #9e9e9e;
}

#about_site>span {
    color: #ffffff;
    font-size: 12px;
}

.login-part{
    position: fixed;
    z-index: 99;
    top: calc(50% - 200px);
    left: calc(50% - 161px);
    width: 320px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px #bdbdbd;
}

.synchro-part{
    position: fixed;
    z-index: 99;
    top: calc(50% - 200px);
    left: calc(50% - 161px);
    width: 320px;
    background: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-container{
    display: flex;
    justify-content: flex-end;
    color: #bdbdbd;
    height: 120px;
}

#login_close,#synchro_close{
    position: relative;
    top: 10px;
}

#loginout{

}

.input-container>input{
    width: 300px;
}

button{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

#login,#register,#uploadcity,#downloadcity{
    width: 300px;
    height: 35px;
    background: #bdbdbd;
    margin-top: 10px;
}

#login:hover,#register:hover,#uploadcity:hover,#downloadcity:hover{
    background: #bdbdbd;
}

#to_register,#to_login,#uploadcity,#downloadcity{
    margin:10px 0;
}

#to_login:hover,#to_register:hover{
    text-decoration: underline;
}

#loginout{
    width: 300px;
    height: 35px;
    background: #e64a19;
    margin: 10px 0 20px;
    color: #ffffff;
}

#loginout:hover{
    background: #b71c1c;
}
