@media only screen and (max-width:450px) {

    /* 页面小于450px时，设置小图标 */
    .square {
        display: flex;
        flex-direction: column;
        width: 65px;
        height: 65px;
        align-items: center;
        border-radius: 10px;
        margin: 3px;
        border: 1px solid #e0e0e0;
        /* box-shadow: 0 0 10px 5px #bdbdbd; */
    }

    .square>div {
        /* chrome字体小于12缩放设置 */
        font-size: 10px;
        transform: scale(0.7);
        display: inline-block;
        line-height: 10px;
        min-width: 85px;
        text-align: center;
    }

    .square>div:last-child {
        padding-bottom: 5px;
    }

    .wea_logo{
        width: 40px;
    }
}
