*::-webkit-scrollbar-thumb{
    background-color: #Fa0505;
}
a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link,
.text-primary,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.search-widget form input[type=text]:focus+button .search,
.search-widget form button[type=submit] .search:hover,
#header .top-menu a[data-depth="0"]:hover,
.top-menu .sub-menu a:hover,
.page-my-account #content .links a:hover i,
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i,
.pagination .current a,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover,
.tabs .nav-tabs .nav-link.active,
#blockcart-modal .product-name,
.cart-grid-body a.label:hover,
.block_newsletter form input[type=text]:focus+button .search,
.block_newsletter form button[type=submit] .search:hover,
.account-list a:hover,
#header .header-nav .blockcart a:hover,
#wrapper .breadcrumb li:last-child a, 
#wrapper .breadcrumb li:hover a,
.block-categories .category-sub-menu li[data-depth="0"]:hover > a,
.block-categories .category-sub-menu li[data-depth="1"]:hover > a,
.block-categories .category-sub-menu li[data-depth="2"]:hover > a,
.block-categories .category-sub-menu li .category-sub-link:hover,
.block-categories .category-sub-menu li:hover > .navbar-toggler,
#search_filters_brands .facet .tvsearch-filter-brand-wrapper li.facet-label a:hover, 
.tvserach-filter-suppliers p:hover,
#search_filters_suppliers .facet .tvserach-filter-suppliers li.facet-label a:hover{
	color: #Fa0505;
}
.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address,
.products-sort-order .select-list:hover,
.facet-dropdown .select-list:hover,
#header .header-nav .cart-preview.active,
.page-footer a,
#newsletter_block_popup .block_content .send-reqest:hover,
.footer_links.wishlist_footer a,
.tvwishlist-send-mess-btn .button-small,
.tvcmsNewsLetterPopup-i .tvnewsletterpopup-button-icon:hover,
.tvblob-all-submit-btn .tvcmsblog_submit_btn{
	background-color: #Fa0505;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.tvblob-all-submit-btn .tvcmsblog_submit_btn{
	border-color: #Fa0505;
}
.facet-dropdown.open>.select-title {
	border: 3px solid #Fa0505;
}
#product-modal .modal-content .modal-body .product-images img:hover {
	border: 3px solid #Fa0505;
}
.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
	border: 2px solid #Fa0505;
}
/**************** theme color ****************/
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu[data-depth="1"] > li > .tvmenu-link-wrapper a span:hover,
.tv-menu-horizontal .cat-drop-menu .level-1:hover>a:after, 
.tv-menu-horizontal .cat-drop-menu .level-2:hover>a:after, 
.tv-menu-horizontal .cat-drop-menu .level-3:hover>a:after, 
.tv-menu-horizontal .cat-drop-menu .level-4:hover>a:after, 
.tv-menu-horizontal .cat-drop-menu .level-1:hover>a span, 
.tv-menu-horizontal .cat-drop-menu .level-2:hover>a span, 
.tv-menu-horizontal .cat-drop-menu .level-3:hover>a span, 
.tv-menu-horizontal .cat-drop-menu .level-4:hover>a span,
.tvall-block-box-shadows:hover .tvservices-content-box .tvservices-title,
.tvblog-event-all-content-block .tvnews-event-titel a:hover,
.tvcategory-slider-wrapper-info:hover .tvcategory-slider-info-box,
.tvtestimonial-title a,
.tvcmsdesktop-view-wishlist .tvwishlist-name:hover span,
.tvcmsdesktop-view-compare .tvdesktop-view-compare-name:hover,
#tvcmsdesktop-language-selector:hover .tv-language-btn i, 
#tvcmsdesktop-currency-selector:hover .tv-currency-btn i, 
#tvcmsdesktop-user-info:hover .tvhedaer-sign-btn i,
#tvcmsdesktop-language-selector:hover .tv-language-btn .tv-language-span, 
#tvcmsdesktop-currency-selector:hover .tv-currency-btn .tv-currency-span, 
#tvcmsdesktop-user-info .tvhedaer-sign-btn:hover,
.tv-language-dropdown li a:hover, 
.tv-currency-dropdown li a:hover,   
.tvcategory-chain-slider-category a:hover:after,
.tvcategory-chain-slider-category a:hover,
.tvnews-event-link a:hover,
.tvallproduct-link a:hover,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a:hover, 
.tvcmsblog-left-side .tvnews-event-link a:hover,
.tvfooter-view-link a:hover,
.product-price-and-shipping .price,
.tvnews-event-link a:hover i,
.tvallproduct-link a:hover i,
.tvfooter-store-link a:hover,
#header .tv-menu-horizontal ul li.level-1 ul li.item-header a:hover, 
#header .tv-menu-horizontal ul li.level-1 ul li.item-line a:hover,
.footer-container li a:hover,
.product-price .current-price .price,
.product-flags.tvproduct-sale-pack-wrapper li,
.tvcopylink p:hover,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a:hover i,
.tvcmsblog-left-side .tvnews-event-link a:hover i,
.tvfooter-view-link a:hover i,
.tvtab-title-wrapper .tvtabs-products li:hover span,
.tvtab-title-wrapper .tvtabs-products li.active span,
.tvproduct-timer-wrapper .seconds, 
.tvmenu-link-wrapper .tvdropdown-submenu.tvmenu-link span:hover,
.tvmain-slider-contant .tvmain-slider-button:hover, 
.tvmain-slider-contant .tvmain-slider-title:hover,
.tvsearch-dropdown-total-wrapper:hover .tvsearch-dropdown-total,
.block-categories .category-sub-menu li:hover[data-depth="0"]>a,
.block-categories .category-sub-menu li:hover[data-depth="2"]>a,
.block-categories .category-sub-menu li .category-sub-link:hover
.block-categories .category-sub-menu li:hover .navbar-toggler,
.tvinstagram-slider-title-wrapper .tvinstagram-user-name,
.custom-checkbox input[type=checkbox]+span .checkbox-checked,
.tvproduct-wishlist-compare .tvcompare-wrapper:hover i, 
.tvproduct-wishlist-compare .tvcompare-wrapper:hover span, 
.tvproduct-wishlist-compare .tvproduct-wishlist:hover i, 
.tvproduct-wishlist-compare .tvproduct-wishlist:hover span,
.tvsearch-dropdown-wrapper:hover .tvsearch-dropdown-content-box .tvsearch-dropdown-title,
.tvproduct-flags.tvproduct-sale-pack-wrapper li,
.tvproduct-wrapper .tvproduct-timer-wrapper .seconds,
.ttvcmscart-show-dropdown-right .tvcart-product-content .product-price,
.ttvcmscart-show-dropdown-right .ttvcart-product-label-value.total .ttvcart-product-value{
	color: #Fa0505;
}
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu[data-depth="0"] > li > .tvmenu-link-wrapper a span:after,
.tvmain-slider-content-inner.active:after, 
.tvtheme-control-wrapper .tvtheme-option .btn-primary,
.tvtheme-control-wrapper .tvtheme-control-reset:hover,
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select option:hover,
.tvcmstheme-control .tvtheme-control-icon:hover,
#products.grid .tvproduct-view.tvproduct-grid,
.tvmain-slider-contant .tvmain-slider-button, 
#products.grid-2 .tvproduct-view.tvproduct-grid-2,
#products.list .tvproduct-view.tvproduct-list,
.tv-cart-cart-inner,
.tvbottom-to-top:hover, 
.tvvertical-menu-img-block,
.nivo-controlNav .nivo-control.active,
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span,
.tvnewsleteer-btn-wrapper .btn-primary:hover,
.tvproduct-cart-quentity-increment:hover, 
.tvproduct-cart-quentity-decrement:hover,
.tvcart-product-list-checkout,
.tvcart-product-list-viewcart:hover,
#products.list-2 .tvproduct-view.tvproduct-list-2,
#products.catelog .tvproduct-view.tvproduct-catelog,
.tvcms-left-column-wrapper .tv-left-pannal-btn-wrapper:hover,
.tvcmsproduct-grid-list .tvproduct-view:hover,
.tv_search_filter_wrapper .tvleft-right-title-wrapper:hover,
.tvcart-product-list-checkout:hover,
button.close-cookie.tvclose-icon,
.tvall-inner-btn:hover:after,
.ttvcmscart-show-dropdown-right .ttvcart-product-list-checkout,
.ttvcmscart-show-dropdown-right .ttvcart-product-list-viewcart:hover{
	background-color: #Fa0505;
}
.tvcmsvertical-menu li.level-1:hover, 
.tvvertical-menu-show-hide-category .tvvertical-show-category:hover, 
.tvvertical-menu-show-hide-category .tvvertical-hide-category:hover {
    border-left: 3px solid #Fa0505;
}
.lang-rtl .tvcmsvertical-menu li.level-1:hover, 
.lang-rtl .tvvertical-menu-show-hide-category .tvvertical-show-category:hover, 
.lang-rtl .tvvertical-menu-show-hide-category .tvvertical-hide-category:hover {
	border-right: 3px solid #Fa0505; 
}
.tvsearch-more-search:hover{
	background-color: #Fa0505;
	border: 1px solid #Fa0505;
}
#header .tv-menu-horizontal ul li.level-1 ul li.item-line.tvmega-menu-link a:hover:before{
	border: 1px solid #Fa0505;
} 
.tvproduct-wrapper .tvproduct-quick-btn:hover .tvproduct-quick-icon,
.tvproduct-wrapper .tvproduct-cart-btn:hover .tvproduct-add-to-cart, 
.tvproduct-wrapper .tvproduct-wishlist:hover .tvproduct-wishlist-icon, 
.tvproduct-wrapper .tvcompare-wrapper:hover .tvproduct-compare-icon i.add,
.tvproduct-wrapper .tvproduct-cart-btn:hover .tvproduct-out-of-stock,
.tvproduct-wrapper .tvcompare-wrapper:hover .tvproduct-compare-icon i.remove{
	background-color: #Fa0505;
	/*border: 1px solid #Fa0505;*/
}
#tvdesktop-megamenu .tv-menu-horizontal .menu-dropdown{
	border-bottom: 4px solid #Fa0505;
}
.tvcms-header-menu-offer-wrapper,
.tvcmsheader-sticky.sticky,
.tvcategory-title-wrapper,
.tvcategory-slider-info-box:after,
.tvcmsmobile-header-menu-offer-text,
.tvheader-top-search-wrapper{
	background: linear-gradient(to bottom right, #cf000e 1%, #edd906);
}
.tvcmsprev-btn:hover,
.tvcmsnext-btn:hover,
.tvcompare-wrapper .tvproduct-compare-icon i.remove,
.tvproduct-wrapper .tvproduct-cart-btn .tvproduct-add-to-cart, 
.tvproduct-wrapper .tvproduct-quick-btn .tvproduct-quick-icon,
.tvproduct-wrapper .tvproduct-wishlist .tvproduct-wishlist-icon, 
.tvproduct-wrapper .tvcompare-wrapper .tvproduct-compare-icon i.add,
.tvproduct-wrapper .tvcompare-wrapper .tvproduct-compare-icon i.remove{
	background-color: #222d59;
	/*border: 1px solid #222d59;*/
}
.tvcmscookies-notice .tvclose-icon span,
.tv_search_filter_wrapper .tvleft-right-title-wrapper:hover i,
.tv_search_filter_wrapper .tvleft-right-title-wrapper:hover .tvproduct-top-filter-name,
.tvall-inner-btn:hover span, .tvall-inner-btn:hover i,
.ttvcmscart-show-dropdown-right .ttvcart-product-list-checkout,
.ttvcmscart-show-dropdown-right .ttvcart-product-list-viewcart:hover,
.tvcmstheme-control .tvtheme-control-icon:hover i,
.tv-cart-cart-inner,
.tvproduct-wrapper .tvproduct-cart-btn:hover .tvproduct-add-to-cart span,
.tvproduct-wrapper .tvproduct-cart-btn:hover .tvproduct-add-to-cart i, 
.tvproduct-wrapper .tvproduct-hover-btn .tvproduct-quick-btn:hover  i, 
.tvproduct-wrapper .tvproduct-hover-btn .tvproduct-quick-btn:hover  .tvproduct-quick-lable, 
.tvproduct-wrapper .tvproduct-wishlist:hover .panel-product-line i, 
.tvproduct-wrapper .tvcompare-wrapper:hover .tvproduct-compare-icon i.add, 
.tvproduct-wrapper .tvcompare-wrapper:hover .tvproduct-compare-icon i.remove{
	color: #FFFFFF;
}
#tvdesktop-megamenu .tv-menu-horizontal ul li.level-1>a,
.tvcategory-title-wrapper .tvleft-right-title span,
.tvcmsnext-btn:hover i, .tvcmsprev-btn:hover i,
.tvcmsvertical-menu-wrapper .tvleft-right-title-toggle,
#tvcms-mobile-view-header .tv-account-wrapper .tv-myaccount-btn span,
.tvproduct-wrapper .tvproduct-cart-btn .tvproduct-add-to-cart span, 
.tvproduct-wrapper .tvproduct-add-to-cart-label, .tvproduct-wrapper .tvproduct-cart-btn .tvproduct-add-to-cart i, 
.tvproduct-wrapper .tvproduct-hover-btn .tvproduct-quick-btn i, 
.tvproduct-wrapper .tvproduct-hover-btn .tvproduct-quick-btn .tvproduct-quick-lable, 
.tvproduct-wrapper .tvproduct-wishlist .panel-product-line i, 
.tvproduct-wrapper .tvcompare-wrapper .tvproduct-compare-icon i.add, 
.tvproduct-wrapper .tvcompare-wrapper .tvproduct-compare-icon i.remove {
	color: #FFFFFF;	
}
