p.eBayName{font-style: italic}
#ebay_comments_block_left span.note
{
  float:right;
  width:84px;
  height:16px;
  background:url('../img/stars-sprite.png') no-repeat;
}
#ebay_comments_block_left span.note_1
{
  background-position: 0px -21px;
}
#ebay_comments_block_left span.note_1_5
{
  background-position: 0px -43px;
}
#ebay_comments_block_left span.note_2
{
  background-position: 0px -65px;
}
#ebay_comments_block_left span.note_2_5
{
  background-position: 0px -87px;
}
#ebay_comments_block_left span.note_3
{
  background-position: 0px -109px;
}
#ebay_comments_block_left span.note_3_5
{
  background-position: 0px -130px;
}
#ebay_comments_block_left span.note_4
{
  background-position: 0px -152px;
}
#ebay_comments_block_left span.note_4_5
{
  background-position: 0px -174px;
}
#ebay_comments_block_left span.note_5
{
  background-position: 0px -196px;
}
#owl-ebaycomments .owl-stage-outer{padding-top: 20px;}
#owl-ebaycomments .owl-nav{
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: right;
}
#owl-ebaycomments .owl-nav button{
    font-size: 25px;
    height: 38px;
    width: 38px;
    background: white;
    border-radius: 50%;
    border: 1px grey solid;
}
